*{
	font-family: "Montserrat";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: .5s ;
}

.container{
	max-width: 1144px;
	margin: 0 auto;
	padding: 0 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:200px ;
}


.country-mw{
	padding: 40px 0;
	width: 783px;
/*	height: 567px;*/
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 70px;
	border-radius: 30px;
	background: #FFF;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}
.country-mw h2{
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
}
.country-mw form {
	display: flex;
	flex-direction: column;
}
.countries{
	display: flex;
	gap: 80px;
}

.country-mw form > div div{
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.country-mw form > div div label{
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	display: flex;
	align-items: center;
	gap: 15px;
}
.country-mw form > div div label input{
	width: 21px;
	height: 21px;
	flex-shrink: 0;
	border-radius: 2px;
	border: 0.5px solid var(--unnamed, #FF4900);
}

.country-mw form button{
	align-self: end;
	width: 219px;
	height: 63px;
	border-radius: 10px;
	background: var(--unnamed, #FF4900);
	color: #FFF;
	font-family: Montserrat;
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border:none;
}