@media screen and (max-width: 1251px){

	/*side-bar*/
	.side-bar{
		background: #F1F1F1;
		gap: 25px;
		padding: 20px;
		width: 280px;
		gap: 105px;

	}
	#sideBarLogo{
		width: 80px;
		height: 85px;	
	}
	#sideBarTextLogo{
		width: 134px;
		height: 32px;	
	}





	.side-bar-pay h2,.side-bar-accyet h2{
		font-size: 16px;
		font-style: normal;
		font-weight: 600;
	}
	.side-bar-pay p{
		font-size: 12px;
		font-style: normal;
		font-weight: 300;	
	}

	.side-bar-accyet button{
		width: 207px;
		height: 40px;
	}
	.side-bar-accyet button a{
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
	}

	.side-bar-footer p{
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
	}
	.side-bar-footer img{
		width: 152.999px;
		margin-bottom: 30px;
	}



	.pay-method{
	    left: 280px;
	    margin: 30px;
	    gap: 20px;	
	}
	.pay-method > span{
		font-size: 10px;
	}
	.pay-method-title{
	}
	.pay-method-title h1{
		font-size: 22px;
	}
	.pay-method-title a{
		font-size: 14px;
	}

	.amount-pay{
		width: fit-content;
		padding: 10px 25px;
		border-radius: 10px;
		border: 1px solid var(--unnamed, #FF4900);
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.amount-pay p{
		font-size: 12px;
	}
	.pay-cards div{
		height: 40px;
	    border-top: 1px solid rgba(0, 0, 0, 0.20);
	    display: flex;
	    align-items: center;
	    gap: 10px;
	}
	.pay-cards div	img{
		width: 3%;
	}
	.pay-cards p{
		font-size: 12px;
	}

}