@media screen and (max-width: 1251px){
	.logo{
		width: 33px;
		height: 34px;
	}
	.text-logo{
		width:54px;
		height:15px;
	}
	.header-info p, .header-info li{
		font-size: 8px;
		font-style: normal;
		font-weight: 400;
	}
	.header-info-cabinet img{
		width: 18px;
		height: 18px;
	}
	/*side-bar*/
	.side-bar{
		background: #F1F1F1;
		gap: 25px;
		padding: 20px;
		max-width:210px ;
	}
	.side-bar-info{
		gap: 0;
	}
	.side-bar-info img{
		width: 86px;
		height: 80px;
	}
	.side-bar-info h2{
		margin-top: 5px;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
	}
	.side-bar-info p{
		font-size: 8px;
		font-style: normal;
		font-weight: 400;
	}

	.side-bar-menu ul{
		gap: 10px;
	}
	.side-bar-menu ul li{
		gap: 5px;
	}
	.side-bar-menu ul li img{
		width: 12px;
		height: 15px;
	}
	.side-bar-menu ul li a{
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
	}
	
	.side-bar-nav-container div{
		width: 75px;
		height: min-content;
	}
	.side-bar-nav-container div p{
		font-size: 9px;
		font-style: normal;
		font-weight: 400;
	}
	.side-bar-nav-container div img{
		width: 15px;
		height: 15px;
	}
	.side-bar-footer p{
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
	}
	.side-bar-footer img{
		width: 152.999px;
		margin-bottom: 30px;
	}



	.chat{
		left: 210px;
		padding: 30px;
		gap: 19px
	}
	.chat-title h1{
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
	}
	.chat-title p {
	    font-size: 8px;
	}

	.content-block-title{
		padding: 10px;
	}

	}
	.content-block-title h2{
		font-size: 12px;
	}
	.content-block-title p{
		font-size: 10px;

	}
	.chat-content-block h3{
		font-size: 10px;
	    font-weight: 500;
	}
	.chat-content-block div p{
		font-size: 9px;
	    font-weight: 300;
	}
	.chat-content-block ul li{
		font-size: 8px;
	    font-weight: 400;

	}

}	